.global-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 35%;
    min-width: 365px;
    max-width: 430px;
    background-color: #002525;
    background-image: url("../images/nav-bg.svg");
}

.global-nav-content {
    .vertical-align();
    top: 33%;
    height: 426px;
    color: white;
    hr {
        max-width: 100px;
        margin: 15px auto;
        border-width: 1.5px;
    }
}

.site-heading {
    text-align: center;
    h1 {
        margin: 0;
    }
}

.avatar-circle {
    margin: 0 auto 15px;
    display: block;
    border-radius: 50%;
    border: 3px solid white;
}

.social-links {
    a {
        margin: 0 15px;
    }

}