.global-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: @brand-primary url("../images/nav-bg.svg");   
    hr {
        max-width: 100px;
        margin: 15px auto;
    }
    color: white;
}

.site-heading {
    display: table;
    h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        margin: 0;
        a {
            color: white;
        }
    }
}

.avatar-wrapper {
    max-width: 50px;
    margin: 5px;
}

.avatar-circle {
    border-radius: 50%;
    width: 100%;
}

.social-links {
    a {
        margin: 0 15px;
    }
}

