@import "variables.less";

.main-content {
    padding: 0 15px;
    margin-left: 38%;
}

@media (max-width: @screen-md-min) {
    .main-content{
        margin: 15px;
    }
}

@media (min-width: @screen-lg-min) {
    .main-content{
        margin-left: 530px;
    }
}