@import "variables.less";
    .visible-md {
        display: inherit;
    }

    .main-content {
        padding: 15px;
        margin: 0;
        margin-left: 360px;
    }

    .global-nav {
        bottom: 0;
        width: 360px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: center;
        align-items: center;
        justify-content: center;
        hr {
            width: 100px;
            margin: 15px auto;
            color: white;
        }
    }

    .site-heading {
        flex-direction: column;
        height: auto;
        h1 {
            font-size: @font-size-h1;
        }
    }

    .avatar-wrapper {
        width: 100px;
        height: 100px;
        background: url('https://gravatar.com/avatar/b0a1671bb473c5193baf0a9da7116a94?s=100');
        margin: 15px auto;
        border: 3px solid white;
    }