@import "../../../node_modules/bootstrap/less/variables.less";

/** Bootstrap variable overrides */


//fonts
@font-size-base: 18px;
@font-family-sans-serif:  'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
@font-family-base: @font-family-sans-serif;
@headings-font-family: 'Roboto Slab', 'Times New Roman', serif;
@headings-font-weight: 100;