<div class="site-heading">
    <div class="avatar-wrapper">
        <a href="/" title="Home">
            <img class="avatar-circle"
            srcset="https://gravatar.com/avatar/b0a1671bb473c5193baf0a9da7116a94?s=50 50w, https://gravatar.com/avatar/b0a1671bb473c5193baf0a9da7116a94?s=100 100w"
            sizes="(max-width: 991px) 50px, 100px"
            src="https://gravatar.com/avatar/b0a1671bb473c5193baf0a9da7116a94?s=100"
            alt="Alan Grgic's avatar">
        </a>
    </div>
    <h1><a href="/" title="Home">@Context.String(BlogKeys.Description)</a></h1>
    <div class="visible-md">
        <hr />
        <div class="social-links">
            <a href="https://github.com/alanag13" title="GitHub">
                <img src="/assets/images/github.svg" alt="GitHub icon"/>
            </a>
            <a href="https://twitter.com/spellgrgicright" title="Twitter">
                <img src="/assets/images/twitter.svg" alt="Twitter icon"/>
            </a>
            <a href="https://www.linkedin.com/in/alan-grgic-30776b53/" title="LinkedIn">
                <img src="/assets/images/linkedin.svg" alt="LinkedIn icon"/>
            </a>
            <a href="mailto:alan.grgic@gmail.com" title="Email">
                <img src="/assets/images/mail.svg" alt="mail icon"/>
            </a>
        </div>  
    </div>
</div>


@{
    if(false){
        List<Tuple<string, string>> pages = Context
            .Documents[Blog.Pages]
            .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
            .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
            .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
            .Where(x => !string.IsNullOrEmpty(x.Item1))
            .OrderBy(x => x.Item1)
            .ToList();
        if(Documents[Blog.Tags].Any())
        {
            pages.Insert(0, Tuple.Create("Tags", Context.GetLink("tags/index.html")));
        }
        if(Documents[Blog.BlogPosts].Any() && Context.Bool(BlogKeys.GenerateArchive))
        {
            pages.Insert(0, Tuple.Create("Archive", Context.GetLink(Context.String(BlogKeys.PostsPath) + "/index.html")));
        }
        foreach(Tuple<string, string> page in pages)
        {
            <li><a href="@page.Item2">@page.Item1</a></li>
        }
    }

}