@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway.woff2') format('woff2'),
          url('/assets/fonts/Raleway.woff2') format('woff'),
          url('/assets/fonts/Raleway.ttf') format('truetype');
          
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/RobotoSlab.woff2') format('woff2'),
        url('/assets/fonts/RobotoSlab.woff') format('woff'),
        url('/assets/fonts/RobotoSlab.ttf') format('truetype');
        
    font-display: swap;
  }