.global-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: @brand-primary url("../../images/nav-bg.svg");   
}

.site-heading {
    display: table;
    h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
        margin: 0;
        a {
            color: white;
        }
    }
}

.avatar-wrapper {
    width: 55px;
    margin: 5px 10px;
}

.avatar-circle {
    border-radius: 50%;
    width: 100%;
}

.social-links {
    a {
        margin: 0 15px;
    }
}

